<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>

</head>
<body style="background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1535543451298&di=2428e2fcb6a525a5e2f15e4f63758911&imgtype=0&src=http%3A%2F%2Fimg1.3lian.com%2F2015%2Fa1%2F63%2Fd%2F121.jpg)">
<div style="">
    <span>登录页面</span>
    <form action="/user/login" method="post" style="margin-top: 20px">
        <table style="padding: 10px;margin: auto;border: red 1px solid;text-align: right;border-radius: 2px">
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr style="text-align: center">
                <td colspan="2">
                    <button style="background: none" type="submit">登录</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
<style>
    body {
        margin: 0px;
        padding: 0px;
    }

    div {
        text-align: center;
        background: rgba(255, 255, 255, .5);
        padding: 20px;
        width: 300px;
        margin: auto;
        border-radius: 5px;
        margin-top: 20%
    }

    tr {
        height: 35px;
    }

    input {
        border: none;
        border-radius: 4px;
    }

</style>
</html>